body{
  font-family: 'Open Sans';
  background: #fff;
}
h1,
h2,
h3,
h4,
h5{
  font-family: 'Raleway';

}

p{
  font-family: 'Raleway';
}

#vertical_white {
  background: #ffffff;
  -webkit-clip-path: polygon(0 100%,100% 100%,100% 0,0 26%);
  height: 200px;
  margin-top: -100px;
}

#vertical_dark {
  background: #0d3b48;
  -webkit-clip-path: polygon(0 100%,100% 100%,100% 0,0 26%);
  height: 200px;
  margin-top: -100px;
}

/* ABOUT ME*/
#profile img{
  border-radius: 50%;
  width: 80%;
  padding-bottom: 10px;
}

#profile{
  text-align: center;
  margin-top: -130px;
}
#profile p{
  font-size: 35px;
 
  text-transform: uppercase;
  font-family: 'Open Sans';
}

.progress {
  margin:20px auto;
  padding:0;
  width:100%;
  height:20px;
  overflow:hidden;
  background:#e5e5e5;
  border-radius: 0;
}

.bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background: #ffae21;
}

.percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
}
.percentage label{
  color: #fff;
  font-family: 'Raleway';
}

.about > ul{
  padding: 0;
}

.about p{
  font-size: 15px;
}

.about > ul >li{
  display: inline-block;
  color: #fff;
}

.about i{
  font-size: 40px;
  padding-right: 20px;
  color: #fff;
  transition: 0.3s;
}

.about i:hover{
  color: #64798f;
  transition: 0.3s;
}

/* END ABOUT ME*/

/* WEB PROJECTS CSS*/

.content_3 p{
  color: #fff;
  text-align: center;
}

.project-list{
  color: #fff;
  border-top: 1px solid #84afbb;
}

.project-list .web-desc{
padding-top: 15px ;
}

.project-list a{
  color: #ffae21;
  font-size: 40px;
  font-weight: 900;
  font-family: 'raleway';
}

.project-list p{
  color: #84afbb;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans';
}

/* END WEB PROJECTS CSS*/

/* galley filter*/

h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800;
}



ul {
 list-style: none; 
 margin-bottom: 20px;
}



.hidden {
  display: none;
}

#category_menu > li{
  display: inline-block;
  color: #000;
}

#category_menu a{
  padding: 10px 40px;
  background-color: #0d3b48;
  color: #fff;
  transition: 0.3s;
}

#category_menu a:hover,
#category_menu a:focus,
#category_menu a:active{
  text-decoration: none;
  background-color: #64798f;
  transition: 0.3s;
}


.img-div {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 23%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  /* Padding stays within the width */
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#projects > ul > li:hover {
  opacity: 1;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

@media (max-width: 768px){
  #projects > ul > li {
      width: 48%;
  }
}

@media (max-width: 568px) {
  #projects > ul > li {
      width: 100%;
  }
}
/* end galley filter*/

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}



/* Navigation style */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #0d3b48;
	border-bottom: 1px solid #136273;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	transition:all 0.5s ease;
	margin: 0px 40px;
}

nav li a:hover,
nav li a:focus{
	color: #ffae21;
	text-decoration: none;
	transition:all 0.5s ease;
}

nav>li a:active>{
	color: #fff;
}

section {
	height: 100vh;
}

/*=======GALLERY CSS=======*/

.container.gallery-container {
  padding: 0;

}

.tz-gallery {
  padding: 10px;
  /*column-count: 4; 
  column-gap: 1.5rem;*/
}

  /* Override bootstrap column paddings */
  .tz-gallery .img-div {
      padding: 10px;
      /*display: inline-block;
      /*margin-bottom: 15px;
  }

  .tz-gallery .lightbox img {
      width: 100%;
      border-radius: 0;
      /*position: relative;*/
  }

  .tz-gallery .lightbox:before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -13px;
      opacity: 0;
      color: #fff;
      font-size: 26px;
      font-family: 'Glyphicons Halflings';
      content: '\e003';
      pointer-events: none;
      z-index: 2;
      transition: 0.4s;
  }


  .tz-gallery .lightbox:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(46, 132, 206, 0.7);
      content: '';
      transition: 0.4s;
  }

  .tz-gallery .lightbox:hover:after,
  .tz-gallery .lightbox:hover:before {
      opacity: 1;
      border-radius: 10px;
  }

.baguetteBox-button {
  background-color: transparent !important;
}




/*===GALLERY FIX SIZE==*/

.image-wrapper {
  position: relative;
  padding-bottom: 70%;

}

  .image-wrapper img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
  }
/*===END GALLETY FIX SIZE====*/

/* CONTENT CSS*/

.dark-bg{
  background-color:#0d3b48; 
  position: relative;
  padding-bottom: 200px;
}

.white-bg{
  background-color:#ffffff; 
  position: relative;
  padding-bottom: 200px;
  margin-top: -100px;
}



#content_1 p{
  color: #fff;
}


#content_1 h3,
#content_3 h3{
	color: #fff;
  text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 50px;
  text-align: center;
}

#content_2 h3{
	color: #210002;
  text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 50px;
}

#content_1 h3:after,
#content_2 h3:after,
#content_3 h3:after {
    display: block;
    width: 100px;
    border: 2px solid #ffae21;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    /* margin-top: 40px; */
}
/* END CONTENT CSS*/

/* Header style */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1814px 291px #FFF , 958px 218px #FFF , 1685px 1386px #FFF , 1150px 773px #FFF , 1236px 1477px #FFF , 554px 572px #FFF , 576px 335px #FFF , 48px 1878px #FFF , 1295px 1264px #FFF , 1654px 190px #FFF , 1861px 525px #FFF , 174px 518px #FFF , 673px 125px #FFF , 180px 367px #FFF , 1766px 1775px #FFF , 1508px 65px #FFF , 1836px 300px #FFF , 1136px 425px #FFF , 269px 1151px #FFF , 611px 129px #FFF , 1799px 1276px #FFF , 1450px 1545px #FFF , 1958px 311px #FFF , 292px 780px #FFF , 494px 412px #FFF , 468px 944px #FFF , 1391px 1787px #FFF , 247px 1683px #FFF , 58px 162px #FFF , 1869px 714px #FFF , 1465px 1250px #FFF , 225px 1299px #FFF , 807px 1295px #FFF , 1304px 1878px #FFF , 1668px 750px #FFF , 1432px 845px #FFF , 1482px 466px #FFF , 1495px 1px #FFF , 1866px 72px #FFF , 871px 1463px #FFF , 485px 1719px #FFF , 165px 302px #FFF , 1431px 1563px #FFF , 1392px 1637px #FFF , 873px 720px #FFF , 1146px 585px #FFF , 1668px 219px #FFF , 1157px 189px #FFF , 270px 1513px #FFF , 834px 216px #FFF , 106px 411px #FFF , 1338px 1494px #FFF , 1660px 954px #FFF , 1425px 984px #FFF , 384px 1756px #FFF , 338px 352px #FFF , 167px 671px #FFF , 1708px 726px #FFF , 56px 1515px #FFF , 309px 984px #FFF , 1601px 544px #FFF , 179px 1936px #FFF , 576px 1379px #FFF , 1566px 560px #FFF , 82px 725px #FFF , 571px 180px #FFF , 1619px 584px #FFF , 940px 13px #FFF , 338px 21px #FFF , 1651px 657px #FFF , 1637px 180px #FFF , 1187px 1843px #FFF , 856px 973px #FFF , 295px 628px #FFF , 1007px 663px #FFF , 1937px 506px #FFF , 793px 813px #FFF , 508px 394px #FFF , 328px 1819px #FFF , 1388px 805px #FFF , 275px 31px #FFF , 47px 1373px #FFF , 1153px 118px #FFF , 3px 1527px #FFF , 269px 513px #FFF , 1541px 1732px #FFF , 1312px 186px #FFF , 1867px 1110px #FFF , 1976px 1327px #FFF , 295px 1961px #FFF , 926px 1057px #FFF , 633px 1037px #FFF , 925px 1615px #FFF , 1168px 337px #FFF , 900px 1170px #FFF , 65px 586px #FFF , 1434px 1734px #FFF , 1479px 857px #FFF , 269px 1671px #FFF , 1437px 66px #FFF , 194px 1060px #FFF , 84px 31px #FFF , 1496px 1489px #FFF , 175px 580px #FFF , 1691px 739px #FFF , 1561px 733px #FFF , 647px 967px #FFF , 1726px 592px #FFF , 849px 383px #FFF , 634px 1416px #FFF , 1075px 1408px #FFF , 1617px 794px #FFF , 836px 1106px #FFF , 819px 881px #FFF , 1374px 335px #FFF , 1631px 124px #FFF , 1459px 287px #FFF , 1506px 486px #FFF , 201px 1065px #FFF , 113px 657px #FFF , 1908px 427px #FFF , 35px 182px #FFF , 923px 1118px #FFF , 1388px 1776px #FFF , 1356px 1435px #FFF , 905px 1304px #FFF , 1147px 1553px #FFF , 1952px 66px #FFF , 1373px 1620px #FFF , 1058px 786px #FFF , 275px 86px #FFF , 13px 1px #FFF , 664px 199px #FFF , 1698px 753px #FFF , 918px 799px #FFF , 344px 1127px #FFF , 1279px 1139px #FFF , 21px 1528px #FFF , 1249px 1195px #FFF , 321px 298px #FFF , 1318px 1686px #FFF , 1567px 1416px #FFF , 1628px 1847px #FFF , 1628px 1958px #FFF , 388px 213px #FFF , 1337px 1604px #FFF , 1550px 390px #FFF , 62px 1598px #FFF , 1711px 697px #FFF , 1447px 109px #FFF , 1907px 256px #FFF , 1893px 1914px #FFF , 1335px 922px #FFF , 1923px 1476px #FFF , 842px 666px #FFF , 712px 1458px #FFF , 512px 675px #FFF , 116px 1517px #FFF , 1815px 630px #FFF , 651px 488px #FFF , 507px 1279px #FFF , 1686px 1909px #FFF , 1189px 1767px #FFF , 1301px 675px #FFF , 1013px 1259px #FFF , 1675px 1756px #FFF , 324px 621px #FFF , 386px 17px #FFF , 1966px 1849px #FFF , 1869px 1324px #FFF , 1814px 616px #FFF , 1802px 688px #FFF , 138px 1321px #FFF , 227px 394px #FFF , 1254px 1815px #FFF , 1346px 1142px #FFF , 1919px 1470px #FFF , 409px 955px #FFF , 359px 349px #FFF , 243px 1941px #FFF , 136px 1400px #FFF , 831px 1769px #FFF , 1976px 156px #FFF , 38px 1924px #FFF , 1091px 658px #FFF , 823px 393px #FFF , 1492px 719px #FFF , 82px 1665px #FFF , 1362px 435px #FFF , 1199px 898px #FFF , 787px 911px #FFF , 1333px 507px #FFF , 262px 1026px #FFF , 1116px 1857px #FFF , 328px 1113px #FFF , 1252px 1601px #FFF , 392px 1849px #FFF , 386px 1329px #FFF , 440px 543px #FFF , 863px 91px #FFF , 1430px 1958px #FFF , 1731px 1651px #FFF , 276px 533px #FFF , 1697px 188px #FFF , 1766px 1830px #FFF , 669px 576px #FFF , 477px 815px #FFF , 1748px 1548px #FFF , 1077px 675px #FFF , 576px 1774px #FFF , 1089px 1695px #FFF , 947px 1444px #FFF , 1403px 12px #FFF , 403px 1511px #FFF , 899px 12px #FFF , 579px 551px #FFF , 484px 1095px #FFF , 1584px 1958px #FFF , 773px 1227px #FFF , 285px 743px #FFF , 1664px 1411px #FFF , 858px 1759px #FFF , 1775px 861px #FFF , 326px 927px #FFF , 1430px 1543px #FFF , 1867px 454px #FFF , 208px 1888px #FFF , 498px 193px #FFF , 1409px 263px #FFF , 566px 1836px #FFF , 847px 1118px #FFF , 253px 691px #FFF , 1383px 1291px #FFF , 1334px 1691px #FFF , 967px 1534px #FFF , 1974px 152px #FFF , 1260px 1431px #FFF , 212px 1509px #FFF , 1153px 520px #FFF , 901px 510px #FFF , 586px 1069px #FFF , 976px 744px #FFF , 1039px 440px #FFF , 306px 1291px #FFF , 1816px 638px #FFF , 911px 581px #FFF , 174px 843px #FFF , 223px 327px #FFF , 1616px 1656px #FFF , 1952px 572px #FFF , 573px 1777px #FFF , 1021px 270px #FFF , 1689px 1553px #FFF , 302px 954px #FFF , 230px 618px #FFF , 1773px 1729px #FFF , 1586px 1039px #FFF , 1750px 261px #FFF , 1060px 1047px #FFF , 189px 1952px #FFF , 575px 634px #FFF , 776px 354px #FFF , 1492px 470px #FFF , 1330px 1571px #FFF , 1977px 1066px #FFF , 88px 865px #FFF , 1626px 662px #FFF , 185px 386px #FFF , 836px 1047px #FFF , 1399px 1020px #FFF , 835px 688px #FFF , 36px 230px #FFF , 1055px 1619px #FFF , 903px 839px #FFF , 1687px 655px #FFF , 1428px 360px #FFF , 947px 407px #FFF , 1491px 1819px #FFF , 1753px 1628px #FFF , 438px 76px #FFF , 1939px 1323px #FFF , 962px 1113px #FFF , 1897px 868px #FFF , 595px 1700px #FFF , 421px 709px #FFF , 1998px 15px #FFF , 1944px 1548px #FFF , 1891px 1439px #FFF , 892px 1171px #FFF , 400px 220px #FFF , 1325px 1567px #FFF , 92px 1565px #FFF , 1344px 1660px #FFF , 990px 197px #FFF , 791px 893px #FFF , 1753px 1689px #FFF , 1898px 844px #FFF , 1748px 538px #FFF , 394px 632px #FFF , 379px 141px #FFF , 1603px 1549px #FFF , 1326px 1977px #FFF , 1739px 1601px #FFF , 1497px 1215px #FFF , 1932px 450px #FFF , 1203px 1891px #FFF , 893px 1267px #FFF , 1952px 1483px #FFF , 602px 510px #FFF , 1454px 578px #FFF , 512px 1791px #FFF , 528px 518px #FFF , 1278px 12px #FFF , 545px 1682px #FFF , 1693px 915px #FFF , 325px 606px #FFF , 378px 355px #FFF , 899px 47px #FFF , 1561px 1196px #FFF , 406px 37px #FFF , 810px 1553px #FFF , 1596px 1589px #FFF , 1866px 96px #FFF , 367px 80px #FFF , 417px 1568px #FFF , 872px 1226px #FFF , 1179px 1610px #FFF , 874px 249px #FFF , 1878px 1959px #FFF , 1461px 1587px #FFF , 1640px 823px #FFF , 264px 1543px #FFF , 1943px 67px #FFF , 288px 1664px #FFF , 942px 566px #FFF , 1756px 554px #FFF , 182px 1783px #FFF , 1448px 1048px #FFF , 1796px 16px #FFF , 1679px 550px #FFF , 1675px 1138px #FFF , 1613px 694px #FFF , 1183px 383px #FFF , 1008px 111px #FFF , 1320px 1462px #FFF , 511px 846px #FFF , 965px 950px #FFF , 281px 160px #FFF , 825px 594px #FFF , 1028px 955px #FFF , 1618px 1697px #FFF , 907px 360px #FFF , 1594px 798px #FFF , 1315px 1388px #FFF , 726px 1863px #FFF , 1261px 1699px #FFF , 432px 372px #FFF , 1502px 631px #FFF , 1732px 45px #FFF , 1569px 1203px #FFF , 589px 30px #FFF , 685px 824px #FFF , 1798px 415px #FFF , 436px 1595px #FFF , 1485px 157px #FFF , 329px 160px #FFF , 1346px 1060px #FFF , 1745px 1611px #FFF , 1799px 888px #FFF , 1410px 1607px #FFF , 1107px 523px #FFF , 1411px 1784px #FFF , 1109px 1152px #FFF , 1187px 732px #FFF , 78px 490px #FFF , 1371px 1294px #FFF , 220px 1417px #FFF , 1056px 1526px #FFF , 1035px 588px #FFF , 461px 269px #FFF , 203px 1446px #FFF , 1789px 1555px #FFF , 1554px 1693px #FFF , 1883px 1344px #FFF , 1424px 113px #FFF , 246px 578px #FFF , 690px 1775px #FFF , 805px 220px #FFF , 1213px 1060px #FFF , 1619px 1212px #FFF , 1463px 67px #FFF , 757px 1914px #FFF , 1269px 1774px #FFF , 880px 237px #FFF , 1139px 1436px #FFF , 794px 1811px #FFF , 1633px 830px #FFF , 1794px 1342px #FFF , 919px 226px #FFF , 1410px 733px #FFF , 1673px 1757px #FFF , 875px 1337px #FFF , 196px 1750px #FFF , 653px 1179px #FFF , 1289px 366px #FFF , 770px 368px #FFF , 396px 1293px #FFF , 44px 1502px #FFF , 500px 386px #FFF , 998px 550px #FFF , 1985px 1455px #FFF , 1074px 1543px #FFF , 1441px 1280px #FFF , 466px 1867px #FFF , 1280px 1774px #FFF , 1937px 510px #FFF , 655px 995px #FFF , 1577px 1032px #FFF , 1447px 1678px #FFF , 166px 297px #FFF , 128px 1384px #FFF , 485px 1295px #FFF , 1876px 966px #FFF , 796px 1453px #FFF , 401px 834px #FFF , 1347px 386px #FFF , 198px 1815px #FFF , 1657px 1358px #FFF , 1085px 1586px #FFF , 828px 68px #FFF , 1761px 1120px #FFF , 1163px 1214px #FFF , 1012px 376px #FFF , 1145px 850px #FFF , 781px 487px #FFF , 1835px 921px #FFF , 287px 184px #FFF , 1400px 556px #FFF , 383px 1766px #FFF , 329px 421px #FFF , 597px 1753px #FFF , 862px 1522px #FFF , 885px 1416px #FFF , 674px 1657px #FFF , 839px 492px #FFF , 1817px 308px #FFF , 919px 1845px #FFF , 1515px 1815px #FFF , 1763px 1800px #FFF , 522px 759px #FFF , 622px 258px #FFF , 978px 1249px #FFF , 907px 1207px #FFF , 44px 1007px #FFF , 1989px 1211px #FFF , 960px 439px #FFF , 572px 1728px #FFF , 679px 1392px #FFF , 788px 485px #FFF , 1188px 1982px #FFF , 1547px 422px #FFF , 674px 1769px #FFF , 851px 1497px #FFF , 1526px 1882px #FFF , 1258px 1771px #FFF , 972px 1863px #FFF , 40px 230px #FFF , 1309px 234px #FFF , 1896px 1386px #FFF , 1131px 57px #FFF , 236px 1176px #FFF , 1308px 331px #FFF , 1625px 1179px #FFF , 103px 1491px #FFF , 1481px 558px #FFF , 1885px 137px #FFF , 1386px 1611px #FFF , 561px 910px #FFF , 7px 1251px #FFF , 499px 788px #FFF , 719px 1936px #FFF , 314px 88px #FFF , 1839px 1179px #FFF , 1377px 1541px #FFF , 298px 704px #FFF , 1428px 261px #FFF , 343px 1543px #FFF , 1818px 1620px #FFF , 726px 1267px #FFF , 403px 485px #FFF , 1124px 695px #FFF , 142px 159px #FFF , 1538px 308px #FFF , 479px 38px #FFF , 686px 82px #FFF , 851px 1948px #FFF , 1265px 604px #FFF , 1624px 445px #FFF , 283px 418px #FFF , 516px 1914px #FFF , 1359px 1589px #FFF , 792px 454px #FFF , 1326px 1503px #FFF , 977px 622px #FFF , 1028px 1972px #FFF , 1369px 838px #FFF , 1293px 1752px #FFF , 529px 1940px #FFF , 1348px 94px #FFF , 1320px 635px #FFF , 451px 1757px #FFF , 926px 270px #FFF , 1901px 892px #FFF , 591px 1588px #FFF , 1144px 220px #FFF , 118px 1752px #FFF , 1px 446px #FFF , 1393px 508px #FFF , 1002px 1874px #FFF , 1083px 435px #FFF , 1150px 1283px #FFF , 629px 1026px #FFF , 161px 669px #FFF , 1999px 976px #FFF , 82px 112px #FFF , 989px 1632px #FFF , 565px 971px #FFF , 112px 1276px #FFF , 1182px 551px #FFF , 535px 1714px #FFF , 1898px 658px #FFF , 648px 47px #FFF , 1233px 355px #FFF , 1615px 882px #FFF , 1082px 715px #FFF , 42px 894px #FFF , 1947px 620px #FFF , 1914px 1881px #FFF , 674px 1168px #FFF , 1135px 916px #FFF , 1513px 1329px #FFF , 1278px 444px #FFF , 1475px 157px #FFF , 1956px 1451px #FFF , 1778px 1028px #FFF , 1129px 1033px #FFF , 871px 957px #FFF , 1486px 262px #FFF , 219px 797px #FFF , 1432px 931px #FFF , 1427px 1973px #FFF , 243px 1724px #FFF , 1682px 490px #FFF , 1090px 1523px #FFF , 41px 854px #FFF , 1653px 789px #FFF , 1738px 1674px #FFF , 954px 714px #FFF , 1006px 1269px #FFF , 55px 558px #FFF , 1205px 1959px #FFF , 355px 1506px #FFF , 439px 532px #FFF , 698px 131px #FFF , 27px 570px #FFF , 1717px 11px #FFF , 1723px 215px #FFF , 844px 437px #FFF , 299px 364px #FFF , 1219px 736px #FFF , 422px 1741px #FFF , 977px 1527px #FFF , 1682px 146px #FFF , 989px 372px #FFF , 1040px 1208px #FFF , 1851px 1353px #FFF , 1496px 1647px #FFF , 496px 1180px #FFF , 1854px 640px #FFF , 136px 973px #FFF , 1767px 1931px #FFF , 1201px 780px #FFF , 1870px 1610px #FFF , 1242px 1901px #FFF , 78px 1806px #FFF , 51px 1338px #FFF , 547px 1062px #FFF , 1558px 354px #FFF , 1067px 1324px #FFF , 1968px 1774px #FFF , 322px 89px #FFF , 1555px 721px #FFF , 379px 1765px #FFF , 1696px 624px #FFF , 460px 963px #FFF , 369px 555px #FFF , 1794px 1254px #FFF , 1647px 1201px #FFF , 1422px 287px #FFF , 1452px 1212px #FFF , 169px 768px #FFF , 236px 1420px #FFF , 45px 1720px #FFF , 114px 703px #FFF , 201px 66px #FFF , 531px 575px #FFF , 741px 803px #FFF , 1060px 1077px #FFF , 692px 678px #FFF , 1803px 253px #FFF , 1882px 1730px #FFF , 686px 299px #FFF , 1060px 846px #FFF , 1661px 1138px #FFF , 1326px 1120px #FFF , 948px 1422px #FFF , 1876px 1858px #FFF , 1209px 317px #FFF , 1415px 225px #FFF , 798px 1225px #FFF , 1799px 1475px #FFF , 770px 1904px #FFF , 265px 585px #FFF , 1440px 681px #FFF , 951px 344px #FFF , 1344px 1610px #FFF , 507px 245px #FFF , 423px 1500px #FFF , 1212px 76px #FFF , 1415px 431px #FFF , 1348px 122px #FFF , 1817px 581px #FFF , 1542px 588px #FFF , 1811px 509px #FFF , 660px 742px #FFF , 668px 790px #FFF , 1546px 614px #FFF , 861px 1079px #FFF , 225px 839px #FFF , 102px 1258px #FFF , 1280px 1330px #FFF , 1710px 1810px #FFF , 289px 515px #FFF , 1270px 556px #FFF , 159px 825px #FFF , 1044px 316px #FFF , 1240px 1448px #FFF , 232px 358px #FFF , 1379px 887px #FFF , 107px 1685px #FFF , 1907px 267px #FFF , 1484px 1502px #FFF , 1807px 1626px #FFF , 635px 1580px #FFF , 1002px 1961px #FFF , 649px 851px #FFF , 1377px 1544px #FFF , 543px 1940px #FFF , 1115px 444px #FFF , 1513px 892px #FFF , 1146px 1461px #FFF , 1725px 1204px #FFF , 203px 847px #FFF , 1590px 1428px #FFF , 1388px 51px #FFF , 69px 1367px #FFF , 1229px 6px #FFF , 178px 1023px #FFF , 479px 1567px #FFF , 1855px 1099px #FFF , 1027px 137px #FFF , 652px 60px #FFF , 525px 1310px #FFF , 1143px 766px #FFF , 791px 1949px #FFF , 662px 1317px #FFF , 1417px 1915px #FFF , 1492px 1853px #FFF , 348px 1464px #FFF , 1056px 542px #FFF , 739px 211px #FFF , 1623px 520px #FFF , 1118px 1062px #FFF , 382px 1036px #FFF , 1596px 1954px #FFF , 1672px 19px #FFF , 1064px 1248px #FFF , 589px 1277px #FFF , 203px 493px #FFF , 31px 769px #FFF , 680px 1229px #FFF , 1973px 138px #FFF , 1490px 1189px #FFF , 1235px 1856px #FFF , 1419px 850px #FFF , 1701px 582px #FFF , 388px 68px #FFF , 606px 661px #FFF , 1467px 1025px #FFF , 1568px 469px #FFF;
  animation: animStar 100s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1814px 291px #FFF , 958px 218px #FFF , 1685px 1386px #FFF , 1150px 773px #FFF , 1236px 1477px #FFF , 554px 572px #FFF , 576px 335px #FFF , 48px 1878px #FFF , 1295px 1264px #FFF , 1654px 190px #FFF , 1861px 525px #FFF , 174px 518px #FFF , 673px 125px #FFF , 180px 367px #FFF , 1766px 1775px #FFF , 1508px 65px #FFF , 1836px 300px #FFF , 1136px 425px #FFF , 269px 1151px #FFF , 611px 129px #FFF , 1799px 1276px #FFF , 1450px 1545px #FFF , 1958px 311px #FFF , 292px 780px #FFF , 494px 412px #FFF , 468px 944px #FFF , 1391px 1787px #FFF , 247px 1683px #FFF , 58px 162px #FFF , 1869px 714px #FFF , 1465px 1250px #FFF , 225px 1299px #FFF , 807px 1295px #FFF , 1304px 1878px #FFF , 1668px 750px #FFF , 1432px 845px #FFF , 1482px 466px #FFF , 1495px 1px #FFF , 1866px 72px #FFF , 871px 1463px #FFF , 485px 1719px #FFF , 165px 302px #FFF , 1431px 1563px #FFF , 1392px 1637px #FFF , 873px 720px #FFF , 1146px 585px #FFF , 1668px 219px #FFF , 1157px 189px #FFF , 270px 1513px #FFF , 834px 216px #FFF , 106px 411px #FFF , 1338px 1494px #FFF , 1660px 954px #FFF , 1425px 984px #FFF , 384px 1756px #FFF , 338px 352px #FFF , 167px 671px #FFF , 1708px 726px #FFF , 56px 1515px #FFF , 309px 984px #FFF , 1601px 544px #FFF , 179px 1936px #FFF , 576px 1379px #FFF , 1566px 560px #FFF , 82px 725px #FFF , 571px 180px #FFF , 1619px 584px #FFF , 940px 13px #FFF , 338px 21px #FFF , 1651px 657px #FFF , 1637px 180px #FFF , 1187px 1843px #FFF , 856px 973px #FFF , 295px 628px #FFF , 1007px 663px #FFF , 1937px 506px #FFF , 793px 813px #FFF , 508px 394px #FFF , 328px 1819px #FFF , 1388px 805px #FFF , 275px 31px #FFF , 47px 1373px #FFF , 1153px 118px #FFF , 3px 1527px #FFF , 269px 513px #FFF , 1541px 1732px #FFF , 1312px 186px #FFF , 1867px 1110px #FFF , 1976px 1327px #FFF , 295px 1961px #FFF , 926px 1057px #FFF , 633px 1037px #FFF , 925px 1615px #FFF , 1168px 337px #FFF , 900px 1170px #FFF , 65px 586px #FFF , 1434px 1734px #FFF , 1479px 857px #FFF , 269px 1671px #FFF , 1437px 66px #FFF , 194px 1060px #FFF , 84px 31px #FFF , 1496px 1489px #FFF , 175px 580px #FFF , 1691px 739px #FFF , 1561px 733px #FFF , 647px 967px #FFF , 1726px 592px #FFF , 849px 383px #FFF , 634px 1416px #FFF , 1075px 1408px #FFF , 1617px 794px #FFF , 836px 1106px #FFF , 819px 881px #FFF , 1374px 335px #FFF , 1631px 124px #FFF , 1459px 287px #FFF , 1506px 486px #FFF , 201px 1065px #FFF , 113px 657px #FFF , 1908px 427px #FFF , 35px 182px #FFF , 923px 1118px #FFF , 1388px 1776px #FFF , 1356px 1435px #FFF , 905px 1304px #FFF , 1147px 1553px #FFF , 1952px 66px #FFF , 1373px 1620px #FFF , 1058px 786px #FFF , 275px 86px #FFF , 13px 1px #FFF , 664px 199px #FFF , 1698px 753px #FFF , 918px 799px #FFF , 344px 1127px #FFF , 1279px 1139px #FFF , 21px 1528px #FFF , 1249px 1195px #FFF , 321px 298px #FFF , 1318px 1686px #FFF , 1567px 1416px #FFF , 1628px 1847px #FFF , 1628px 1958px #FFF , 388px 213px #FFF , 1337px 1604px #FFF , 1550px 390px #FFF , 62px 1598px #FFF , 1711px 697px #FFF , 1447px 109px #FFF , 1907px 256px #FFF , 1893px 1914px #FFF , 1335px 922px #FFF , 1923px 1476px #FFF , 842px 666px #FFF , 712px 1458px #FFF , 512px 675px #FFF , 116px 1517px #FFF , 1815px 630px #FFF , 651px 488px #FFF , 507px 1279px #FFF , 1686px 1909px #FFF , 1189px 1767px #FFF , 1301px 675px #FFF , 1013px 1259px #FFF , 1675px 1756px #FFF , 324px 621px #FFF , 386px 17px #FFF , 1966px 1849px #FFF , 1869px 1324px #FFF , 1814px 616px #FFF , 1802px 688px #FFF , 138px 1321px #FFF , 227px 394px #FFF , 1254px 1815px #FFF , 1346px 1142px #FFF , 1919px 1470px #FFF , 409px 955px #FFF , 359px 349px #FFF , 243px 1941px #FFF , 136px 1400px #FFF , 831px 1769px #FFF , 1976px 156px #FFF , 38px 1924px #FFF , 1091px 658px #FFF , 823px 393px #FFF , 1492px 719px #FFF , 82px 1665px #FFF , 1362px 435px #FFF , 1199px 898px #FFF , 787px 911px #FFF , 1333px 507px #FFF , 262px 1026px #FFF , 1116px 1857px #FFF , 328px 1113px #FFF , 1252px 1601px #FFF , 392px 1849px #FFF , 386px 1329px #FFF , 440px 543px #FFF , 863px 91px #FFF , 1430px 1958px #FFF , 1731px 1651px #FFF , 276px 533px #FFF , 1697px 188px #FFF , 1766px 1830px #FFF , 669px 576px #FFF , 477px 815px #FFF , 1748px 1548px #FFF , 1077px 675px #FFF , 576px 1774px #FFF , 1089px 1695px #FFF , 947px 1444px #FFF , 1403px 12px #FFF , 403px 1511px #FFF , 899px 12px #FFF , 579px 551px #FFF , 484px 1095px #FFF , 1584px 1958px #FFF , 773px 1227px #FFF , 285px 743px #FFF , 1664px 1411px #FFF , 858px 1759px #FFF , 1775px 861px #FFF , 326px 927px #FFF , 1430px 1543px #FFF , 1867px 454px #FFF , 208px 1888px #FFF , 498px 193px #FFF , 1409px 263px #FFF , 566px 1836px #FFF , 847px 1118px #FFF , 253px 691px #FFF , 1383px 1291px #FFF , 1334px 1691px #FFF , 967px 1534px #FFF , 1974px 152px #FFF , 1260px 1431px #FFF , 212px 1509px #FFF , 1153px 520px #FFF , 901px 510px #FFF , 586px 1069px #FFF , 976px 744px #FFF , 1039px 440px #FFF , 306px 1291px #FFF , 1816px 638px #FFF , 911px 581px #FFF , 174px 843px #FFF , 223px 327px #FFF , 1616px 1656px #FFF , 1952px 572px #FFF , 573px 1777px #FFF , 1021px 270px #FFF , 1689px 1553px #FFF , 302px 954px #FFF , 230px 618px #FFF , 1773px 1729px #FFF , 1586px 1039px #FFF , 1750px 261px #FFF , 1060px 1047px #FFF , 189px 1952px #FFF , 575px 634px #FFF , 776px 354px #FFF , 1492px 470px #FFF , 1330px 1571px #FFF , 1977px 1066px #FFF , 88px 865px #FFF , 1626px 662px #FFF , 185px 386px #FFF , 836px 1047px #FFF , 1399px 1020px #FFF , 835px 688px #FFF , 36px 230px #FFF , 1055px 1619px #FFF , 903px 839px #FFF , 1687px 655px #FFF , 1428px 360px #FFF , 947px 407px #FFF , 1491px 1819px #FFF , 1753px 1628px #FFF , 438px 76px #FFF , 1939px 1323px #FFF , 962px 1113px #FFF , 1897px 868px #FFF , 595px 1700px #FFF , 421px 709px #FFF , 1998px 15px #FFF , 1944px 1548px #FFF , 1891px 1439px #FFF , 892px 1171px #FFF , 400px 220px #FFF , 1325px 1567px #FFF , 92px 1565px #FFF , 1344px 1660px #FFF , 990px 197px #FFF , 791px 893px #FFF , 1753px 1689px #FFF , 1898px 844px #FFF , 1748px 538px #FFF , 394px 632px #FFF , 379px 141px #FFF , 1603px 1549px #FFF , 1326px 1977px #FFF , 1739px 1601px #FFF , 1497px 1215px #FFF , 1932px 450px #FFF , 1203px 1891px #FFF , 893px 1267px #FFF , 1952px 1483px #FFF , 602px 510px #FFF , 1454px 578px #FFF , 512px 1791px #FFF , 528px 518px #FFF , 1278px 12px #FFF , 545px 1682px #FFF , 1693px 915px #FFF , 325px 606px #FFF , 378px 355px #FFF , 899px 47px #FFF , 1561px 1196px #FFF , 406px 37px #FFF , 810px 1553px #FFF , 1596px 1589px #FFF , 1866px 96px #FFF , 367px 80px #FFF , 417px 1568px #FFF , 872px 1226px #FFF , 1179px 1610px #FFF , 874px 249px #FFF , 1878px 1959px #FFF , 1461px 1587px #FFF , 1640px 823px #FFF , 264px 1543px #FFF , 1943px 67px #FFF , 288px 1664px #FFF , 942px 566px #FFF , 1756px 554px #FFF , 182px 1783px #FFF , 1448px 1048px #FFF , 1796px 16px #FFF , 1679px 550px #FFF , 1675px 1138px #FFF , 1613px 694px #FFF , 1183px 383px #FFF , 1008px 111px #FFF , 1320px 1462px #FFF , 511px 846px #FFF , 965px 950px #FFF , 281px 160px #FFF , 825px 594px #FFF , 1028px 955px #FFF , 1618px 1697px #FFF , 907px 360px #FFF , 1594px 798px #FFF , 1315px 1388px #FFF , 726px 1863px #FFF , 1261px 1699px #FFF , 432px 372px #FFF , 1502px 631px #FFF , 1732px 45px #FFF , 1569px 1203px #FFF , 589px 30px #FFF , 685px 824px #FFF , 1798px 415px #FFF , 436px 1595px #FFF , 1485px 157px #FFF , 329px 160px #FFF , 1346px 1060px #FFF , 1745px 1611px #FFF , 1799px 888px #FFF , 1410px 1607px #FFF , 1107px 523px #FFF , 1411px 1784px #FFF , 1109px 1152px #FFF , 1187px 732px #FFF , 78px 490px #FFF , 1371px 1294px #FFF , 220px 1417px #FFF , 1056px 1526px #FFF , 1035px 588px #FFF , 461px 269px #FFF , 203px 1446px #FFF , 1789px 1555px #FFF , 1554px 1693px #FFF , 1883px 1344px #FFF , 1424px 113px #FFF , 246px 578px #FFF , 690px 1775px #FFF , 805px 220px #FFF , 1213px 1060px #FFF , 1619px 1212px #FFF , 1463px 67px #FFF , 757px 1914px #FFF , 1269px 1774px #FFF , 880px 237px #FFF , 1139px 1436px #FFF , 794px 1811px #FFF , 1633px 830px #FFF , 1794px 1342px #FFF , 919px 226px #FFF , 1410px 733px #FFF , 1673px 1757px #FFF , 875px 1337px #FFF , 196px 1750px #FFF , 653px 1179px #FFF , 1289px 366px #FFF , 770px 368px #FFF , 396px 1293px #FFF , 44px 1502px #FFF , 500px 386px #FFF , 998px 550px #FFF , 1985px 1455px #FFF , 1074px 1543px #FFF , 1441px 1280px #FFF , 466px 1867px #FFF , 1280px 1774px #FFF , 1937px 510px #FFF , 655px 995px #FFF , 1577px 1032px #FFF , 1447px 1678px #FFF , 166px 297px #FFF , 128px 1384px #FFF , 485px 1295px #FFF , 1876px 966px #FFF , 796px 1453px #FFF , 401px 834px #FFF , 1347px 386px #FFF , 198px 1815px #FFF , 1657px 1358px #FFF , 1085px 1586px #FFF , 828px 68px #FFF , 1761px 1120px #FFF , 1163px 1214px #FFF , 1012px 376px #FFF , 1145px 850px #FFF , 781px 487px #FFF , 1835px 921px #FFF , 287px 184px #FFF , 1400px 556px #FFF , 383px 1766px #FFF , 329px 421px #FFF , 597px 1753px #FFF , 862px 1522px #FFF , 885px 1416px #FFF , 674px 1657px #FFF , 839px 492px #FFF , 1817px 308px #FFF , 919px 1845px #FFF , 1515px 1815px #FFF , 1763px 1800px #FFF , 522px 759px #FFF , 622px 258px #FFF , 978px 1249px #FFF , 907px 1207px #FFF , 44px 1007px #FFF , 1989px 1211px #FFF , 960px 439px #FFF , 572px 1728px #FFF , 679px 1392px #FFF , 788px 485px #FFF , 1188px 1982px #FFF , 1547px 422px #FFF , 674px 1769px #FFF , 851px 1497px #FFF , 1526px 1882px #FFF , 1258px 1771px #FFF , 972px 1863px #FFF , 40px 230px #FFF , 1309px 234px #FFF , 1896px 1386px #FFF , 1131px 57px #FFF , 236px 1176px #FFF , 1308px 331px #FFF , 1625px 1179px #FFF , 103px 1491px #FFF , 1481px 558px #FFF , 1885px 137px #FFF , 1386px 1611px #FFF , 561px 910px #FFF , 7px 1251px #FFF , 499px 788px #FFF , 719px 1936px #FFF , 314px 88px #FFF , 1839px 1179px #FFF , 1377px 1541px #FFF , 298px 704px #FFF , 1428px 261px #FFF , 343px 1543px #FFF , 1818px 1620px #FFF , 726px 1267px #FFF , 403px 485px #FFF , 1124px 695px #FFF , 142px 159px #FFF , 1538px 308px #FFF , 479px 38px #FFF , 686px 82px #FFF , 851px 1948px #FFF , 1265px 604px #FFF , 1624px 445px #FFF , 283px 418px #FFF , 516px 1914px #FFF , 1359px 1589px #FFF , 792px 454px #FFF , 1326px 1503px #FFF , 977px 622px #FFF , 1028px 1972px #FFF , 1369px 838px #FFF , 1293px 1752px #FFF , 529px 1940px #FFF , 1348px 94px #FFF , 1320px 635px #FFF , 451px 1757px #FFF , 926px 270px #FFF , 1901px 892px #FFF , 591px 1588px #FFF , 1144px 220px #FFF , 118px 1752px #FFF , 1px 446px #FFF , 1393px 508px #FFF , 1002px 1874px #FFF , 1083px 435px #FFF , 1150px 1283px #FFF , 629px 1026px #FFF , 161px 669px #FFF , 1999px 976px #FFF , 82px 112px #FFF , 989px 1632px #FFF , 565px 971px #FFF , 112px 1276px #FFF , 1182px 551px #FFF , 535px 1714px #FFF , 1898px 658px #FFF , 648px 47px #FFF , 1233px 355px #FFF , 1615px 882px #FFF , 1082px 715px #FFF , 42px 894px #FFF , 1947px 620px #FFF , 1914px 1881px #FFF , 674px 1168px #FFF , 1135px 916px #FFF , 1513px 1329px #FFF , 1278px 444px #FFF , 1475px 157px #FFF , 1956px 1451px #FFF , 1778px 1028px #FFF , 1129px 1033px #FFF , 871px 957px #FFF , 1486px 262px #FFF , 219px 797px #FFF , 1432px 931px #FFF , 1427px 1973px #FFF , 243px 1724px #FFF , 1682px 490px #FFF , 1090px 1523px #FFF , 41px 854px #FFF , 1653px 789px #FFF , 1738px 1674px #FFF , 954px 714px #FFF , 1006px 1269px #FFF , 55px 558px #FFF , 1205px 1959px #FFF , 355px 1506px #FFF , 439px 532px #FFF , 698px 131px #FFF , 27px 570px #FFF , 1717px 11px #FFF , 1723px 215px #FFF , 844px 437px #FFF , 299px 364px #FFF , 1219px 736px #FFF , 422px 1741px #FFF , 977px 1527px #FFF , 1682px 146px #FFF , 989px 372px #FFF , 1040px 1208px #FFF , 1851px 1353px #FFF , 1496px 1647px #FFF , 496px 1180px #FFF , 1854px 640px #FFF , 136px 973px #FFF , 1767px 1931px #FFF , 1201px 780px #FFF , 1870px 1610px #FFF , 1242px 1901px #FFF , 78px 1806px #FFF , 51px 1338px #FFF , 547px 1062px #FFF , 1558px 354px #FFF , 1067px 1324px #FFF , 1968px 1774px #FFF , 322px 89px #FFF , 1555px 721px #FFF , 379px 1765px #FFF , 1696px 624px #FFF , 460px 963px #FFF , 369px 555px #FFF , 1794px 1254px #FFF , 1647px 1201px #FFF , 1422px 287px #FFF , 1452px 1212px #FFF , 169px 768px #FFF , 236px 1420px #FFF , 45px 1720px #FFF , 114px 703px #FFF , 201px 66px #FFF , 531px 575px #FFF , 741px 803px #FFF , 1060px 1077px #FFF , 692px 678px #FFF , 1803px 253px #FFF , 1882px 1730px #FFF , 686px 299px #FFF , 1060px 846px #FFF , 1661px 1138px #FFF , 1326px 1120px #FFF , 948px 1422px #FFF , 1876px 1858px #FFF , 1209px 317px #FFF , 1415px 225px #FFF , 798px 1225px #FFF , 1799px 1475px #FFF , 770px 1904px #FFF , 265px 585px #FFF , 1440px 681px #FFF , 951px 344px #FFF , 1344px 1610px #FFF , 507px 245px #FFF , 423px 1500px #FFF , 1212px 76px #FFF , 1415px 431px #FFF , 1348px 122px #FFF , 1817px 581px #FFF , 1542px 588px #FFF , 1811px 509px #FFF , 660px 742px #FFF , 668px 790px #FFF , 1546px 614px #FFF , 861px 1079px #FFF , 225px 839px #FFF , 102px 1258px #FFF , 1280px 1330px #FFF , 1710px 1810px #FFF , 289px 515px #FFF , 1270px 556px #FFF , 159px 825px #FFF , 1044px 316px #FFF , 1240px 1448px #FFF , 232px 358px #FFF , 1379px 887px #FFF , 107px 1685px #FFF , 1907px 267px #FFF , 1484px 1502px #FFF , 1807px 1626px #FFF , 635px 1580px #FFF , 1002px 1961px #FFF , 649px 851px #FFF , 1377px 1544px #FFF , 543px 1940px #FFF , 1115px 444px #FFF , 1513px 892px #FFF , 1146px 1461px #FFF , 1725px 1204px #FFF , 203px 847px #FFF , 1590px 1428px #FFF , 1388px 51px #FFF , 69px 1367px #FFF , 1229px 6px #FFF , 178px 1023px #FFF , 479px 1567px #FFF , 1855px 1099px #FFF , 1027px 137px #FFF , 652px 60px #FFF , 525px 1310px #FFF , 1143px 766px #FFF , 791px 1949px #FFF , 662px 1317px #FFF , 1417px 1915px #FFF , 1492px 1853px #FFF , 348px 1464px #FFF , 1056px 542px #FFF , 739px 211px #FFF , 1623px 520px #FFF , 1118px 1062px #FFF , 382px 1036px #FFF , 1596px 1954px #FFF , 1672px 19px #FFF , 1064px 1248px #FFF , 589px 1277px #FFF , 203px 493px #FFF , 31px 769px #FFF , 680px 1229px #FFF , 1973px 138px #FFF , 1490px 1189px #FFF , 1235px 1856px #FFF , 1419px 850px #FFF , 1701px 582px #FFF , 388px 68px #FFF , 606px 661px #FFF , 1467px 1025px #FFF , 1568px 469px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1931px 389px #FFF , 658px 1137px #FFF , 1045px 14px #FFF , 45px 1862px #FFF , 1292px 444px #FFF , 618px 113px #FFF , 1961px 401px #FFF , 619px 611px #FFF , 493px 415px #FFF , 152px 1714px #FFF , 254px 827px #FFF , 1350px 328px #FFF , 313px 1894px #FFF , 250px 730px #FFF , 1328px 1562px #FFF , 1721px 1667px #FFF , 593px 1323px #FFF , 958px 1268px #FFF , 1154px 1530px #FFF , 716px 346px #FFF , 1151px 10px #FFF , 529px 58px #FFF , 709px 1637px #FFF , 1162px 320px #FFF , 1656px 1051px #FFF , 433px 1072px #FFF , 1907px 1203px #FFF , 1694px 1951px #FFF , 340px 370px #FFF , 510px 775px #FFF , 564px 604px #FFF , 412px 912px #FFF , 1359px 606px #FFF , 556px 1996px #FFF , 1603px 755px #FFF , 36px 1609px #FFF , 615px 1260px #FFF , 1232px 860px #FFF , 1897px 1730px #FFF , 586px 706px #FFF , 981px 490px #FFF , 1722px 968px #FFF , 1727px 1825px #FFF , 169px 1289px #FFF , 403px 1241px #FFF , 910px 655px #FFF , 1273px 1988px #FFF , 992px 1428px #FFF , 1783px 311px #FFF , 1954px 549px #FFF , 371px 1956px #FFF , 19px 1784px #FFF , 401px 223px #FFF , 915px 276px #FFF , 1335px 50px #FFF , 356px 1722px #FFF , 716px 794px #FFF , 720px 1122px #FFF , 1649px 339px #FFF , 1985px 351px #FFF , 1519px 380px #FFF , 1727px 1416px #FFF , 153px 248px #FFF , 1081px 1395px #FFF , 738px 1988px #FFF , 1118px 663px #FFF , 564px 1830px #FFF , 1835px 1433px #FFF , 696px 1181px #FFF , 658px 13px #FFF , 436px 419px #FFF , 553px 1880px #FFF , 573px 1637px #FFF , 458px 1886px #FFF , 540px 753px #FFF , 307px 1038px #FFF , 101px 256px #FFF , 1986px 951px #FFF , 1415px 1691px #FFF , 636px 1829px #FFF , 1069px 1785px #FFF , 1883px 819px #FFF , 1241px 805px #FFF , 1579px 1257px #FFF , 1451px 194px #FFF , 441px 1855px #FFF , 923px 1243px #FFF , 112px 458px #FFF , 783px 135px #FFF , 1641px 1515px #FFF , 540px 424px #FFF , 107px 1738px #FFF , 1343px 1215px #FFF , 270px 1353px #FFF , 1265px 460px #FFF , 912px 44px #FFF , 1641px 469px #FFF , 277px 1769px #FFF , 861px 773px #FFF , 1898px 1649px #FFF , 705px 896px #FFF , 1068px 1652px #FFF , 1349px 1721px #FFF , 1929px 148px #FFF , 1850px 728px #FFF , 1674px 1397px #FFF , 591px 1203px #FFF , 783px 1310px #FFF , 1805px 1087px #FFF , 1515px 1512px #FFF , 567px 1057px #FFF , 561px 783px #FFF , 1799px 283px #FFF , 1404px 1684px #FFF , 1733px 43px #FFF , 1309px 1310px #FFF , 1389px 1202px #FFF , 1066px 1170px #FFF , 1766px 134px #FFF , 1935px 893px #FFF , 1495px 1257px #FFF , 1323px 1426px #FFF , 1571px 730px #FFF , 1655px 1749px #FFF , 1087px 1367px #FFF , 98px 1342px #FFF , 1168px 1039px #FFF , 1928px 1519px #FFF , 1925px 666px #FFF , 1438px 62px #FFF , 38px 1727px #FFF , 488px 1860px #FFF , 810px 801px #FFF , 620px 736px #FFF , 1093px 1679px #FFF , 645px 562px #FFF , 1827px 1456px #FFF , 1794px 1786px #FFF , 930px 1681px #FFF , 128px 1100px #FFF , 404px 322px #FFF , 4px 1631px #FFF , 1249px 1646px #FFF , 1098px 669px #FFF , 755px 505px #FFF , 1365px 1149px #FFF , 1833px 615px #FFF , 1952px 407px #FFF , 393px 1030px #FFF , 768px 78px #FFF , 1483px 1723px #FFF , 1646px 1519px #FFF , 485px 788px #FFF , 420px 1571px #FFF , 704px 175px #FFF , 1242px 1550px #FFF , 620px 781px #FFF , 1180px 166px #FFF , 1501px 309px #FFF , 950px 678px #FFF , 826px 887px #FFF , 885px 320px #FFF , 1987px 1039px #FFF , 1164px 1476px #FFF , 870px 1798px #FFF , 1374px 405px #FFF , 402px 1109px #FFF , 1979px 1096px #FFF , 559px 1622px #FFF , 550px 64px #FFF , 966px 264px #FFF , 258px 1796px #FFF , 704px 873px #FFF , 43px 242px #FFF , 861px 1058px #FFF , 1031px 334px #FFF , 1292px 190px #FFF , 479px 1391px #FFF , 1518px 459px #FFF , 919px 946px #FFF , 291px 109px #FFF , 773px 1336px #FFF , 1974px 1281px #FFF , 148px 780px #FFF , 1944px 1615px #FFF , 1402px 636px #FFF , 416px 1006px #FFF , 1416px 481px #FFF , 282px 1716px #FFF , 665px 1757px #FFF , 1186px 148px #FFF , 1493px 91px #FFF , 497px 993px #FFF , 1912px 106px #FFF , 1229px 1978px #FFF , 50px 889px #FFF , 1580px 1823px #FFF , 829px 369px #FFF , 1016px 1042px #FFF , 1579px 1381px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1931px 389px #FFF , 658px 1137px #FFF , 1045px 14px #FFF , 45px 1862px #FFF , 1292px 444px #FFF , 618px 113px #FFF , 1961px 401px #FFF , 619px 611px #FFF , 493px 415px #FFF , 152px 1714px #FFF , 254px 827px #FFF , 1350px 328px #FFF , 313px 1894px #FFF , 250px 730px #FFF , 1328px 1562px #FFF , 1721px 1667px #FFF , 593px 1323px #FFF , 958px 1268px #FFF , 1154px 1530px #FFF , 716px 346px #FFF , 1151px 10px #FFF , 529px 58px #FFF , 709px 1637px #FFF , 1162px 320px #FFF , 1656px 1051px #FFF , 433px 1072px #FFF , 1907px 1203px #FFF , 1694px 1951px #FFF , 340px 370px #FFF , 510px 775px #FFF , 564px 604px #FFF , 412px 912px #FFF , 1359px 606px #FFF , 556px 1996px #FFF , 1603px 755px #FFF , 36px 1609px #FFF , 615px 1260px #FFF , 1232px 860px #FFF , 1897px 1730px #FFF , 586px 706px #FFF , 981px 490px #FFF , 1722px 968px #FFF , 1727px 1825px #FFF , 169px 1289px #FFF , 403px 1241px #FFF , 910px 655px #FFF , 1273px 1988px #FFF , 992px 1428px #FFF , 1783px 311px #FFF , 1954px 549px #FFF , 371px 1956px #FFF , 19px 1784px #FFF , 401px 223px #FFF , 915px 276px #FFF , 1335px 50px #FFF , 356px 1722px #FFF , 716px 794px #FFF , 720px 1122px #FFF , 1649px 339px #FFF , 1985px 351px #FFF , 1519px 380px #FFF , 1727px 1416px #FFF , 153px 248px #FFF , 1081px 1395px #FFF , 738px 1988px #FFF , 1118px 663px #FFF , 564px 1830px #FFF , 1835px 1433px #FFF , 696px 1181px #FFF , 658px 13px #FFF , 436px 419px #FFF , 553px 1880px #FFF , 573px 1637px #FFF , 458px 1886px #FFF , 540px 753px #FFF , 307px 1038px #FFF , 101px 256px #FFF , 1986px 951px #FFF , 1415px 1691px #FFF , 636px 1829px #FFF , 1069px 1785px #FFF , 1883px 819px #FFF , 1241px 805px #FFF , 1579px 1257px #FFF , 1451px 194px #FFF , 441px 1855px #FFF , 923px 1243px #FFF , 112px 458px #FFF , 783px 135px #FFF , 1641px 1515px #FFF , 540px 424px #FFF , 107px 1738px #FFF , 1343px 1215px #FFF , 270px 1353px #FFF , 1265px 460px #FFF , 912px 44px #FFF , 1641px 469px #FFF , 277px 1769px #FFF , 861px 773px #FFF , 1898px 1649px #FFF , 705px 896px #FFF , 1068px 1652px #FFF , 1349px 1721px #FFF , 1929px 148px #FFF , 1850px 728px #FFF , 1674px 1397px #FFF , 591px 1203px #FFF , 783px 1310px #FFF , 1805px 1087px #FFF , 1515px 1512px #FFF , 567px 1057px #FFF , 561px 783px #FFF , 1799px 283px #FFF , 1404px 1684px #FFF , 1733px 43px #FFF , 1309px 1310px #FFF , 1389px 1202px #FFF , 1066px 1170px #FFF , 1766px 134px #FFF , 1935px 893px #FFF , 1495px 1257px #FFF , 1323px 1426px #FFF , 1571px 730px #FFF , 1655px 1749px #FFF , 1087px 1367px #FFF , 98px 1342px #FFF , 1168px 1039px #FFF , 1928px 1519px #FFF , 1925px 666px #FFF , 1438px 62px #FFF , 38px 1727px #FFF , 488px 1860px #FFF , 810px 801px #FFF , 620px 736px #FFF , 1093px 1679px #FFF , 645px 562px #FFF , 1827px 1456px #FFF , 1794px 1786px #FFF , 930px 1681px #FFF , 128px 1100px #FFF , 404px 322px #FFF , 4px 1631px #FFF , 1249px 1646px #FFF , 1098px 669px #FFF , 755px 505px #FFF , 1365px 1149px #FFF , 1833px 615px #FFF , 1952px 407px #FFF , 393px 1030px #FFF , 768px 78px #FFF , 1483px 1723px #FFF , 1646px 1519px #FFF , 485px 788px #FFF , 420px 1571px #FFF , 704px 175px #FFF , 1242px 1550px #FFF , 620px 781px #FFF , 1180px 166px #FFF , 1501px 309px #FFF , 950px 678px #FFF , 826px 887px #FFF , 885px 320px #FFF , 1987px 1039px #FFF , 1164px 1476px #FFF , 870px 1798px #FFF , 1374px 405px #FFF , 402px 1109px #FFF , 1979px 1096px #FFF , 559px 1622px #FFF , 550px 64px #FFF , 966px 264px #FFF , 258px 1796px #FFF , 704px 873px #FFF , 43px 242px #FFF , 861px 1058px #FFF , 1031px 334px #FFF , 1292px 190px #FFF , 479px 1391px #FFF , 1518px 459px #FFF , 919px 946px #FFF , 291px 109px #FFF , 773px 1336px #FFF , 1974px 1281px #FFF , 148px 780px #FFF , 1944px 1615px #FFF , 1402px 636px #FFF , 416px 1006px #FFF , 1416px 481px #FFF , 282px 1716px #FFF , 665px 1757px #FFF , 1186px 148px #FFF , 1493px 91px #FFF , 497px 993px #FFF , 1912px 106px #FFF , 1229px 1978px #FFF , 50px 889px #FFF , 1580px 1823px #FFF , 829px 369px #FFF , 1016px 1042px #FFF , 1579px 1381px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 663px 563px #FFF , 462px 904px #FFF , 11px 1472px #FFF , 323px 1892px #FFF , 1624px 1998px #FFF , 1192px 405px #FFF , 413px 778px #FFF , 602px 1579px #FFF , 765px 374px #FFF , 1109px 991px #FFF , 872px 1768px #FFF , 722px 1910px #FFF , 213px 1507px #FFF , 163px 1786px #FFF , 1683px 807px #FFF , 359px 495px #FFF , 1744px 1707px #FFF , 815px 136px #FFF , 1107px 1821px #FFF , 1395px 111px #FFF , 1204px 246px #FFF , 1896px 1914px #FFF , 148px 1546px #FFF , 1159px 572px #FFF , 932px 1639px #FFF , 1698px 1849px #FFF , 694px 770px #FFF , 1215px 1509px #FFF , 1194px 1326px #FFF , 1640px 42px #FFF , 722px 1000px #FFF , 76px 179px #FFF , 1651px 240px #FFF , 43px 845px #FFF , 1357px 990px #FFF , 1774px 499px #FFF , 1502px 97px #FFF , 1603px 586px #FFF , 1574px 890px #FFF , 1583px 1455px #FFF , 1846px 1041px #FFF , 1987px 1475px #FFF , 1876px 249px #FFF , 1800px 1938px #FFF , 519px 1658px #FFF , 18px 1960px #FFF , 975px 1243px #FFF , 1177px 56px #FFF , 1937px 396px #FFF , 767px 1612px #FFF , 9px 1376px #FFF , 1186px 1358px #FFF , 1968px 1603px #FFF , 821px 933px #FFF , 1969px 1609px #FFF , 858px 547px #FFF , 1081px 1705px #FFF , 810px 348px #FFF , 1145px 1908px #FFF , 688px 71px #FFF , 1447px 1301px #FFF , 1252px 1249px #FFF , 779px 591px #FFF , 1169px 1728px #FFF , 1px 1559px #FFF , 606px 1769px #FFF , 1180px 776px #FFF , 1320px 1649px #FFF , 545px 1248px #FFF , 605px 1561px #FFF , 1278px 1512px #FFF , 1547px 1715px #FFF , 1632px 1329px #FFF , 36px 767px #FFF , 212px 160px #FFF , 1370px 1138px #FFF , 437px 954px #FFF , 347px 970px #FFF , 1017px 1416px #FFF , 1042px 896px #FFF , 1503px 1213px #FFF , 1486px 92px #FFF , 1756px 334px #FFF , 598px 1800px #FFF , 1836px 1778px #FFF , 1880px 1661px #FFF , 1154px 1794px #FFF , 401px 1779px #FFF , 1286px 1224px #FFF , 936px 1863px #FFF , 169px 1698px #FFF , 934px 1249px #FFF , 53px 194px #FFF , 1938px 102px #FFF , 1551px 826px #FFF , 1409px 719px #FFF , 1253px 1239px #FFF , 1691px 24px #FFF , 652px 1266px #FFF , 1522px 1584px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
   : 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 663px 563px #FFF , 462px 904px #FFF , 11px 1472px #FFF , 323px 1892px #FFF , 1624px 1998px #FFF , 1192px 405px #FFF , 413px 778px #FFF , 602px 1579px #FFF , 765px 374px #FFF , 1109px 991px #FFF , 872px 1768px #FFF , 722px 1910px #FFF , 213px 1507px #FFF , 163px 1786px #FFF , 1683px 807px #FFF , 359px 495px #FFF , 1744px 1707px #FFF , 815px 136px #FFF , 1107px 1821px #FFF , 1395px 111px #FFF , 1204px 246px #FFF , 1896px 1914px #FFF , 148px 1546px #FFF , 1159px 572px #FFF , 932px 1639px #FFF , 1698px 1849px #FFF , 694px 770px #FFF , 1215px 1509px #FFF , 1194px 1326px #FFF , 1640px 42px #FFF , 722px 1000px #FFF , 76px 179px #FFF , 1651px 240px #FFF , 43px 845px #FFF , 1357px 990px #FFF , 1774px 499px #FFF , 1502px 97px #FFF , 1603px 586px #FFF , 1574px 890px #FFF , 1583px 1455px #FFF , 1846px 1041px #FFF , 1987px 1475px #FFF , 1876px 249px #FFF , 1800px 1938px #FFF , 519px 1658px #FFF , 18px 1960px #FFF , 975px 1243px #FFF , 1177px 56px #FFF , 1937px 396px #FFF , 767px 1612px #FFF , 9px 1376px #FFF , 1186px 1358px #FFF , 1968px 1603px #FFF , 821px 933px #FFF , 1969px 1609px #FFF , 858px 547px #FFF , 1081px 1705px #FFF , 810px 348px #FFF , 1145px 1908px #FFF , 688px 71px #FFF , 1447px 1301px #FFF , 1252px 1249px #FFF , 779px 591px #FFF , 1169px 1728px #FFF , 1px 1559px #FFF , 606px 1769px #FFF , 1180px 776px #FFF , 1320px 1649px #FFF , 545px 1248px #FFF , 605px 1561px #FFF , 1278px 1512px #FFF , 1547px 1715px #FFF , 1632px 1329px #FFF , 36px 767px #FFF , 212px 160px #FFF , 1370px 1138px #FFF , 437px 954px #FFF , 347px 970px #FFF , 1017px 1416px #FFF , 1042px 896px #FFF , 1503px 1213px #FFF , 1486px 92px #FFF , 1756px 334px #FFF , 598px 1800px #FFF , 1836px 1778px #FFF , 1880px 1661px #FFF , 1154px 1794px #FFF , 401px 1779px #FFF , 1286px 1224px #FFF , 936px 1863px #FFF , 169px 1698px #FFF , 934px 1249px #FFF , 53px 194px #FFF , 1938px 102px #FFF , 1551px 826px #FFF , 1409px 719px #FFF , 1253px 1239px #FFF , 1691px 24px #FFF , 652px 1266px #FFF , 1522px 1584px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}



